.lower-page {
  position: fixed;
  bottom: 0;

  width: 100%;
}

item {
  position: absolute;
  display: inline-block;

  cursor: pointer;
  user-select: none;
}

conveyor {
  position: relative;

  display: block;

  width: 100%;
  height: 100px;
}

conveyor-belt {
  position: absolute;
  top: 20px;

  display: block;

  width: 100%;
  height: 10px;

  background-color: Black;
}

actions {
  display: block;

  width: 100%;
  height: 100px;

  background-color: LightGray;

  border-bottom: 1px solid black;
}

action {
  user-select: none;
}

action .active {
  border: 1px solid Blue;
}

action :hover {
  background-color: White;
}
