.lower-page {
  position: absolute;
  bottom: 0;

  width: 100%;
}

conveyor {
  display: block;

  width: 100%;
  height: 100px;
}

conveyor-belt {
  display: block;

  width: 100%;
  height: 10px;

  background-color: Black;
}

actions {
  display: block;

  width: 100%;
  height: 100px;

  background-color: LightGray;

  border-bottom: 1px solid black;
}
